* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: #f9f7fd;
  width: 100%;
}

@media (min-width: 768px) {
  body {
    background-color: #fff;
  }

  .statistics-container {
    background-color: #f9f7fd;
  }
}
