* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: #f9f7fd;
  width: 100%;
}

.content-img img {
  width: 100%;
}
.content-img {
  padding-bottom: 30px;
}

/* .btn-1 {
  display: flex;
  align-items: center;
  justify-content: center; 
} */

@media (min-width: 768px) {
  body {
    background-color: #fff;
  }

  /* .btn-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  } */

  .link-card {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .link-card:not(last-child) {
    margin-bottom: 20px;
  }
  .short-link {
    color: #2acfcf;
    margin-left: auto;
    padding-right: 20px;
  }
  .btn-copy {
    padding: 8px 25px;
    background-color: #2acfcf;
    color: #fff;
    border: none;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
  }
  .btn-copy:hover {
    background-color: rgb(30, 5, 30);
  }

  .c-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-1-container {
    max-width: 600px;
  }
} ;
