.btncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  color: #fff;
  background-color: #2acfcf;
  border-radius: 20px;
  padding: 10px 30px;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .btn {
    padding: 10px 40px;
    font-size: 1.2em;
    /* border-radius: 20px; */
  }
  .btn:hover {
    background-color: #80dfdf;
  }
  .btncontainer {
    justify-content: left;
  }
}
