.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.linkcard {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.linkcard:not(last-child) {
  margin-bottom: 20px;
}
.shortlink {
  color: #2acfcf;
  margin-left: auto;
  padding-right: 20px;
}
.btncopy {
  padding: 8px 25px;
  background-color: #2acfcf;
  color: #fff;
  border: none;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}
.btncopy:hover {
  background-color: rgb(30, 5, 30);
}
